
<!--design implemented--> 
<html>
	<head>
		<title>Bit_by_bit</title>
		<style type="text/css">
			.funfact{
				white-space: pre-wrap;
			}
		</style>

		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	</head>
	<body>
		<table>
			<tr>
				<td class = "snake">
					<div class = "fixer" id = "header">
						<img src = "/static/images/snake.png">
						<img src = "/static/images/blurb.png">
						<p>
						<div class = "main" id="aboutinfo">
							<div id='funfact'><p><span>Fun facts!</span></p></div><br>
							<div id = "information">
							<div id='name'><h1>bit_by_bit</h1></div>
							<p> Changing the world, one line of code at a time!</p>
							</div>
							<br>
							<div id = "score">
							<h1>Score</h1>
							</div>
							<br>
						</div>
					</div>
				</td>
				<td class ="content">
					{{ myhtml |safe }}
					<div class = "main">
						<div class="userinfo">
							<!--shows who is logged in-->
							{% if user.is_authenticated %}
							    <p>You are logged in as {{ user.username }}</p>
							{% else %}
							    <p>Welcome, new user. Please <a href="/questions/login/">log in</a></p>
							{% endif %}

							<!-- logout button --> 
							<div id='logoutbutton'>
								<a href="/questions/logout/">Logout</a>
							</div>
						</div>

						<div id="topic"><h1>{{topic}}</h1></div>
						
						{% autoescape off %}
						{% if question_list %}
						    {% for question in question_list %}
						    	<div id = "question">
									<h2>Question {{question.id}}</h2>
							        <div id='qtext'><p>{{ question.text }}</a></p></div>
							        <div class="editor">{{question.question_code}}</div>
							        <button type="button" class="SubmitButton" id={{question.id}}>Submit</button>

						        </div>
						        <br>
						    {% endfor %}
						{% else %}
						    <p>No questions are available.</p>
						{% endif %}
						{% endautoescape %}

						<br>
						
						<div align = "right">
							<a href = "/questions/{{ next_topic_id }}/" class = "button">Next</a>
						</div>
					</div>
				</td>
			</tr>
		</table>
		</div>

<!--script for ACE elements-->
<script src="/static/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src = "/static/js/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	//ACE text editor 
	elements = document.getElementsByClassName('editor');
	for (i = 0; i < elements.length; i++){
		var editor = ace.edit(elements[i]);
    	editor.setTheme("ace/theme/dreamweaver");
    	editor.getSession().setMode("ace/mode/javascript");
    	editor.getSession().setUseWrapMode(true);
	}
	// Inject CRSF headers for Django
	// using jQuery
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}//end get cookie
	var csrftoken = getCookie('csrftoken');
	function csrfSafeMethod(method) {
    	// these HTTP methods do not require CSRF protection
    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
	    crossDomain: false, // obviates need for sameOrigin test
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type)) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});

	//AJAX call to node.js for testing submitted code
	$(".SubmitButton").click(function() {
		funify();
	    $.ajax({
	    	type: 'POST', 
	    	url:"verify/",
	    	data:{ 	"question_id":"PUT DAT QID HERE",
	    			"answer": "TEXT AND SHIT"
	    		},
	    	dataType: "JSON", 
	    	success: function(data){
	    		//do stuff if they got it correct 
	    		//only visual things (toast, gold star, ungrey sections etc)
	    	}, 
	    	failure: function(data){
	    		//again, only visual things upon failure 
	    	}
		});
  	});
  	//for fun cute facts to be said by Tim the Snake! 
	function funify(){
		rando = Math.floor((Math.random()*17)+1);
		thing = $('#funfact span').text(cute_phrases[rando]);
	}
	//because jQuery needs doc to be ready
	$(document).ready(function () {
		funify(); 
	});

	//17 long 
	var cute_phrases = [
		'Remember to turn off lights when you\'re not using them!', 
		'1 out of 4 ingredients in our medicine is from rainforest plants.',
		'Rainforests used to cover 14% of the Earth’s surface but due to deforestation now only cover around 6%.',
		'About half of all known species of plants and animals live in the tropical rainforest.',
		'The rainforest is responsible for the majority of the oxygen production in the air that we breathe.', 
		'Ask your school to buy environmentally-friendly paper!',
		'By playing this game, you\'re helping endangered species!',
		'Re-use paper bags instead of throwing them out!',
		'Recycle everything!', 
		'Always print double-sided!',
		'Drink tap or filtered water, not bottled.',
		'Take showers, not baths, to save on water.', 
		'Sea otters hold each other’s paws when they sleep so they don’t drift apart.',
		'A group of flamingos is called a “flamboyance.”',
		'A group of porcupines is called a “prickle.”',
		'Turn off your computer at night!', 
		'Use rechargable batteries!'
	]	
</script>
	</body>
</html>
