
<!--Adding in ACE elements-->
<!DOCTYPE html>
<html lang="en">

<title>Code for Charity</title>
<style type="text/css" media="screen">
    .editor { 
        position: relative;
        height: 200px; 
        width: 300px; 
    }
</style>
</head>
<body>
{% if user.is_authenticated %}
    <p>You are logged in as {{ user.username }}</p>
{% else %}
    <p>Welcome, new user. Please <a href="/questions/login/">log in</a></p>
{% endif %}

<!-- logout button --> 
<div id='logoutbutton'>
	<a href="/questions/logout/">Logout</a>
</div>

<h1>{{topic}}</h1>
<p>Score: {{user.score}}</p>
{% if question_list %}
    <ul>
    {% for question in question_list %}
        <li>{{ question.text }}</a></li>
        <div class="editor">{{question.question_code}}</div>
        <div class="submitButton"><button type="button">Submit</button></div>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}
    
<div class="nextButton">
	<li><a href="/questions/{{ next_topic_id }}/">On to {{ next_topic_text }}!</a><li>
</div>

<script src="/static/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
	elements = document.getElementsByClassName('editor');
	for (i = 0; i < elements.length; i++){
		var editor = ace.edit(elements[i]);
    	editor.setTheme("ace/theme/dreamweaver");
    	editor.getSession().setMode("ace/mode/javascript");
	}
</script>
</body>
</html>