p {
	font-family: Tahoma;
	font-size: .75em;
	text-decoration: none;
	color: #4F693E;
	
}

a {
	font-family: Tahoma;
	font-size: 0.75em;
	text-decoration: none;
	color: #6FC900;

}

a:hover {
	opacity: 0.5;
}

body {
	background-color: white;
}

#loginpage {
	background-image: url("http://www.downloadclipart.net/large/16405-grass-background-design.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom; 
}

h1 {
	font-family: Tahoma;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: lowercase;
	color: #eb520a;
	line-height: 25%;
	
}

h2 {
	font-family: Tahoma;
	font-size: 1.75em;
	text-decoration: none;
	text-transform: lowercase;
	color: #eb520a;
	line-height: 25%;
	text-align: center;
}

h3 {
	font-family: Tahoma;
	font-size: 2.0em;
	text-decoration: none;
	text-transform: lowercase;
	color: #eb520a;
	line-height: 25%;
}

table.frontpage {
	margin-left: auto;
	margin-right: auto;
}

td.content {
	width: 80%;
	vertical-align: text-top;

}

#login_info{
	background-color: #FAF0EB;
	width: 100%; 
	padding: 10px;
	vertical-align: top;
}

.main {
	background-color: #c7ecfc;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	vertical-align: top;

}

.login {
	background-color: #A2E0FC;
	padding: 15px;
	width: 400px;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	text-align: center;
}

.front_code {
	background-color: #6FD0FC;
	vertical-align: top;
	width: 80%;
	min-width: 200px; 
	padding: 25px;
	border-radius: 10px;
	text-align: center;
	margin-left: 10%;
	margin-right: 50px;
}

#abouthead{
	width: 100%; 
	height: 40px; 
	background-color: #70fc50;
	text-align: center;
}

.front_charity {
	background-color: #6FD0FC;
	vertical-align: top;
	width: 80%;
	min-width: 200px; 
	padding: 25px;
	border-radius: 10px;
	text-align: center;
	margin-left: 50px;
	margin-right: 10%;
}

#funfact{
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	vertical-align: top;
}

#aboutinfo{
	width: 225px;
	background-color: #6FC900;
}

.wrapper {
	margin: 0 auto;
	width: 900px;
	position: relative;

}

.fixer {
	position: fixed;
	z-index: 20;
	margin-left: auto;
	margin-right: auto;
}

#header {
	margin-top: 50px;
}


#question {
	background-color: #6FD0FC;
	padding: 10px;
	border-radius: 5px;
	vertical-align: top;
}

.editor { 
    position: relative;
    margin-left: auto; 
    margin-right: auto; 
    height: 200px; 
    width: 90%; 
}

#project {
	background-color: #6FD0FC;
	padding: 10px;
	border-radius: 5px;
	vertical-align: top;
}

#information {
	background-color: #6FD0FC;
	padding: 10px;
	border-radius: 5px;
	vertical-align: top;
}

#score {
	background-color: #6FD0FC;
	padding: 10px;
	border-radius: 5px;
	vertical-align: top;

}

.button {
	display: block;
	height: 50px;
	width: 100px;
	background: #9ACC78;

	color: #eb520a;
	text-align: center;
	text-transform: lowercase;
	font: bold 1.5em/50px Tahoma;

	background: linear-gradient(top, #9ACC78, #6D9154);
    border-radius: 5px;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}

a.button {
	text-decoration: none;

}

a.button:hover {
 	background: #D0D1CF;
	color: rgba(0, 0, 0, 0.30);
}
s